.navigation__link {
    list-style: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    max-width: fit-content;
    background-image: linear-gradient(rgba(255,224,130,0.5) 0%, rgba(255,224,130,0.5) 100%);
    background-repeat: repeat-y;
    background-size: 0% 0em;
    background-position: 0 65%;
    transition: 0.4s ease
}

.navigation__link:hover {
    color: #4e4528;
    background-image: linear-gradient(#ffe082 0%, #ffe082 100%);
    background-size: 100% 1em;
    transition: 0.4s ease
}

.navigation__link:hover object {
    filter: invert(18%) sepia(100%)
}.navigation__link {
    list-style: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    max-width: fit-content;
    background-image: linear-gradient(rgba(255,224,130,0.5) 0%, rgba(255,224,130,0.5) 100%);
    background-repeat: repeat-y;
    background-size: 0% 0em;
    background-position: 0 65%;
    transition: 0.4s ease
}

.navigation__link:hover {
    color: #4e4528;
    background-image: linear-gradient(#ffe082 0%, #ffe082 100%);
    background-size: 100% 1em;
    transition: 0.4s ease
}

.navigation__link:hover object {
    filter: invert(18%) sepia(100%)
}